<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="Shroomy">
    <div>
        <input type="text" ng-model="userSearch">
        <input type="radio" name="edible" value= false ng-model="eatable">Poisonous</input>
        <input type="radio" name="edible" value= true ng-model="eatable">Non-poisonous</input>
    </div>
    <div ng-controller="shroomyCtrl">
        <div ng-repeat="mushroom in mushrooms | filter: userSearch" ng-show="mushroom.edible.toString() == eatable">
            <div> 
                <h1>
                    Name:{{mushroom.name}}
                </h1>
                <h2>
                    Description:{{mushroom.description}}
                </h2>
            </div>
        </div>
    </div>
    


<script type="text/javascript" src="library/node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="library/node_modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script src="app/factories/shroomyFactory.js"></script>
</body>
</html>